@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
  position: relative;
}

:root {
  --alpha-color: #0000009c;
  --bg-color: #000;
  --second-bg-color: #1f242d;
  --text-color: #fff;
  --alpha-color-light: #ffffff9c;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  position: relative;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  position: relative;
  overflow-x: hidden;
  transition: all 0.5s ease-in;
}

body.light-mode {
  background-color: #f5f5f59c;
  color: var(--bg-color) !important;
}

section {
  min-height: 90vh;
  padding: 10rem 9% 2rem;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: var(--main-color);
  border-radius: 5px;
}

/* HEADER STYLE */

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: var(--bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  backdrop-filter: blur(5px);
  transition: all 0.5s ease-in;
  box-shadow: 0px 4px 28px -8px rgba(0, 0, 0, 0.75);
}

.light-mode .header {
  background-color: #f5f5f5;
  box-shadow: 0px 4px 28px -8px rgba(105, 105, 105, 0.2);
}

.logo {
  font-size: 2.5rem;
  color: var(--text-color);
  font-weight: 600;
  cursor: default;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in;
}

.light-mode .logo {
  color: var(--bg-color);
}

.nav {
  font-size: 1.7rem;
  margin-left: 2rem;
  transition: 0.3s;
  padding: 1rem 2rem;
  z-index: 1000;
  color: var(--text-color);
  position: relative;
}

.nav:hover {
  color: var(--main-color);
}

.light-mode .nav:hover {
  color: var(--main-color);
}

.nav::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 2px solid var(--main-color);
  z-index: -1;
  transition: transform 0.5s;
  transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
}

.nav1::before {
  transform: scaleX(0);
}

.nav1:hover::before {
  transform: scaleX(1);
  color: var(--main-color) !important;
}

.light-mode .navbar a {
  color: var(--bg-color);
}

.navbar a.active {
  color: var(--main-color);
  border-bottom: 2px solid var(--main-color);
}

#mode-toggler {
  background: none;
  transition: all 0.5s ease-in;
  vertical-align: middle;
  cursor: pointer;
}

#mode-toggler::after {
  content: url(../img/sun-fill.svg);
  transition: all 0.5s ease-in;
}

.light-mode #mode-toggler::after {
  content: url(../img/moon-fill.svg);
  transition: all 0.5s ease-in;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  display: none;
}

.icon-mobile-nav {
  font-size: 4.8rem;
  color: var(--text-color);
  transition: all 0.5s ease-in;
}

.light-mode .icon-mobile-nav {
  font-size: 4.8rem;
  color: var(--bg-color);
}

.icon-mobile-nav.close {
  display: none;
}

/* HOME STYLE */

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-bottom: 7rem;
  margin-top: 9rem !important;
}

.home_img img {
  width: 40vw;
  height: 100%;
  border-radius: 50%;
  animation: rotateImage 7s ease-in-out infinite;
}

@keyframes rotateImage {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes floatImage {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-3rem);
  }
  100% {
    transform: translateY(0);
  }
}

.home_content h3 {
  font-size: 3.2rem;
  font-weight: 700;
}

.home_content h3:nth-of-type(2) {
  margin-bottom: 2rem;
}

span {
  color: var(--main-color);
}

.home_content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  line-height: 1.3;
}

.home_content p {
  font-size: 1.6rem;
}

.social_media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  margin: 3rem 1.5rem 3rem 0;
  transition: all 0.5s ease;
}

.social_media a:hover {
  background-color: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
  transform: rotate(360deg);
}

.btn {
  display: inline-block;
  padding: 1rem 2.8rem;
  background: var(--main-color);
  border-radius: 4rem;
  box-shadow: 0 0 1rem var(--main-color);
  font-size: 1.6rem;
  color: var(--second-bg-color);
  letter-spacing: 0.1rem;
  font-weight: 600;
  transition: all 0.5s ease;
}

.btn:hover {
  color: var(--main-color);
  background: none;
  outline: 2px solid var(--main-color);
}

/* ABOUT STYLE */

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  padding-bottom: 7rem;
}

.about_img {
  width: 100%;
}

.about_img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 1rem var(--main-color);
  animation: floatImage 2s ease-in-out infinite;
  object-fit: cover;
  object-position: right center;
}

.heading {
  text-align: center;
  font-size: 4.5rem;
}

.about_content h2 {
  text-align: left;
  line-height: 1.2;
}

.about_content h3 {
  font-size: 2.6rem;
}

.about_content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

/* SKILLS STYLE */

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  margin-top: 5rem;
}

.skill_card {
  text-align: center;
  background-color: var(--second-bg-color);
  padding: 3rem 2.5rem;
  border-radius: 5px;
  transition: all 0.5s ease-in;
}

.light-mode .skill_card {
  text-align: center;
  background-color: #e6e6e6;
  padding: 3rem 2.5rem;
  border-radius: 5px;
}

.skill_card i,
.skill_card svg {
  font-size: 4rem !important;
  color: var(--main-color);
  transition: all 0.5s ease-in;
}

.container .progress {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  color: var(--text-color);
  background: #444
    linear-gradient(to right, transparent 50%, var(--main-color) 0);
  transition: all 0.5s ease-in;
  margin-top: 2rem;
}

.light-mode .container .progress {
  position: relative;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  color: var(--bg-color);
  background: #444
    linear-gradient(to right, transparent 50%, var(--main-color) 0);
}

.container .progress h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  z-index: 1;
  font-weight: 500;
}

.container .progress h3 span {
  color: var(--text-color);
  font-size: 1.5rem;
  font-weight: 400;
  transition: all 0.5s ease-in;
}
.light-mode .container .progress h3 span {
  color: var(--bg-color);
  font-size: 1.5rem;
  font-weight: 400;
}

.container .progress h4 {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.7rem;
  z-index: 1;
  font-weight: 500;
  color: var(--text-color);
  transition: all 0.5s ease-in;
}

.light-mode .container .progress h4 {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%);
  font-size: 1.7rem;
  z-index: 1;
  font-weight: 500;
  color: var(--bg-color);
}

.container .progress::before {
  content: '';
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
  border-radius: 0 100% 100% 0/50%;
}

.container .progress::after {
  content: '';
  position: absolute;
  inset: 10px;
  border-radius: 50%;
  background: var(--second-bg-color);
  transition: all 0.5s ease-in;
}

.light-mode .container .progress::after {
  content: '';
  position: absolute;
  inset: 10px;
  border-radius: 50%;
  background: #e6e6e6;
}

.container .progress::before {
  background: var(--main-color);
  transform: rotate(calc(((var(--i) - 50) * 0.01turn)));
}

/* PORTFOLIO STYLE */

.portfolio {
  padding-bottom: 7rem;
}

.portfolio h2 {
  margin-bottom: 4rem;
}

.portfolio_container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 3rem;
}

.portfolio_container .portfolio_box {
  position: relative;
  border-radius: 2rem;
  overflow: hidden;
  display: flex;
  padding: 3rem;
}

.portfolio_box img {
  width: 100%;
}

.portfolio_box .portfolio_layer {
  border-radius: 2rem;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
  text-align: center;
  padding: 0 4rem;
  opacity: 0;
  transform: scale(0);
  transition: all 0.5s ease;
}

.portfolio_box:hover .portfolio_layer {
  opacity: 1;
  transform: scale(1);
  backdrop-filter: blur(5px);
}

.portfolio_layer h4 {
  color: var(--text-color);
  font-size: 2rem;
}

.portfolio_layer div {
  display: flex;
  gap: 2rem;
}

.portfolio_layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: var(--text-color);
  border-radius: 50%;
}

.portfolio_layer a i {
  font-size: 2rem;
  color: var(--second-bg-color);
}

.portfolio .portfolio_btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 3rem;
}

/* CONTACT STYLE */
.contact h2 {
  margin-bottom: 3rem;
}

.contact form {
  max-width: 70rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 3rem;
}

.contact form .input_box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact form .input_box input,
.contact form textarea {
  width: 100%;
  padding: 1.5rem;
  font-size: 1.6rem;
  color: var(--text-color);
  background: var(--second-bg-color);
  border-radius: 0.8rem;
  margin: 0.7rem 0;
  transition: all 0.5s ease-in;
}

.light-mode .contact form .input_box input,
.light-mode .contact form textarea {
  color: var(--bg-color);
  background: #dfdfdf9c;
}

.contact form .input_box input {
  width: 49%;
}

.contact form textarea {
  resize: none;
}

.contact form .btn {
  margin-top: 2rem;
  cursor: pointer;
}

/* FOOTER STYLE */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 4rem 9%;
}

.footer_text p {
  font-size: 1.6rem;
}

.footer_iconTop a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: transparent;
  box-shadow: 0 0 1rem var(--main-color);
  border-radius: 30px;
  transition: all 0.5s ease;
  animation: floatTop 2s ease-in-out infinite;
}

@keyframes floatTop {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-2rem);
  }
  100% {
    transform: translateY(0);
  }
}

.footer_iconTop a:hover {
  background: var(--main-color);
}

.footer_iconTop a i {
  font-size: 2.5rem;
  color: var(--main-color);
}

.footer_iconTop a:hover i {
  color: var(--second-bg-color);
}

.footer_links {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 3rem;
}

.footer_link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  font-size: 2rem;
  color: var(--main-color);
  box-shadow: 0 0 1rem var(--main-color);
  margin: 1.5rem 1.5rem 1.5rem 0 !important;
  transition: all 0.5s ease;
}

.footer_link:hover {
  background-color: var(--main-color);
  color: var(--second-bg-color);
  box-shadow: 0 0 1rem var(--main-color);
  transform: rotate(360deg);
}

/* LOADER STYLE */
.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 3000;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--bg-color);
  transition: opacity 0.75s, visibility 0.75s;
  overflow: hidden;
}

.light-mode .loader {
  background: #f5f5f5;
}

.loader_hidden {
  opacity: 0;
  visibility: hidden;
}

.wlc_txt {
  color: var(--text-color);
  font-size: 4rem !important;
  text-align: center;
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0000001f);
  line-height: 1em;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff;
}

.light-mode .wlc_txt {
  color: var(--bg-color);
}

#matrix {
  position: fixed;
}
